apiVersion: numaflow.numaproj.io/v1alpha1
kind: Pipeline
metadata:
  name: raw-consumer-pipeline
spec:
  limits: 
    readBatchSize: 1 # Change if you want a different batch size
  vertices:
    - name: in
      scale:
        min: 1
      volumes: 
        - name: pulsar-config-volume
          configMap:
            name: pulsar-config 
            items:
              - key: application.yml
                path: application.yml
      source:
        udsource: 
          container:
            image: apache-pulsar-java:v0.3.0
            args: [ "--spring.config.location=file:/conf/application.yml" ]
            imagePullPolicy: Never
            envFrom:
              - secretRef:
                  name: pulsar-consumer-auth-secret  # All secret keys injected as env vars
            volumeMounts:
              - name: pulsar-config-volume
                mountPath: /conf
    - name: out
      scale:
        min: 1
      sink:
        log: {}
  edges:
    - from: in
      to: out