.md-grid {
  max-width: 100%;
}

.md-content {
  max-width: none;
  padding-bottom: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.md-sidebar--secondary {
  width: 15rem;
}

.md-sidebar--primary {
  width: 15rem;
}

.md-typeset h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

.md-typeset h2 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 2.5rem;
}

.md-typeset h3 {
  font-size: 1.35rem;
  font-weight: 500;
  margin-top: 2rem;
}

.md-typeset h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
